.banner {
  background: url("../../images/home-banner.jpg") center top / cover no-repeat;
  height: 70vh;
  border-bottom: solid 3px var(--color-primary);
  z-index: -1;
}

.banner div {
  z-index: 1;
}

.sign-up-banner {
  background-color: var(--color-neutral-grey);
}

.sign-up-input {
  height: 53px;
}
