.masthead {
  background-color: var(--color-neutral-grey);
  border-bottom: 7px solid var(--color-primary);
}

.masthead-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.heading {
  white-space: nowrap;
}

.nav {
  position: absolute;
  display: none;
  top: 100%;
  left: 0;
  background-color: var(--color-neutral-grey);
}

.logo {
  display: none;
}

.icon img,
.icon .svg-icon {
  left: 0;
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
  fill: #000;
  stroke: #000;
}

.icon img:hover,
.icon .svg-icon:hover {
  left: 0;
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
  fill: var(--color-primary);
  stroke: var(--color-primary);
}

.nav .nav-item {
  color: #000;
  text-decoration: none;
  display: inline-block;
}

.nav .nav-item:hover {
  background-color: var(--color-primary);
  color: #fff;
  border-radius: 4px;
}

.nav-close {
  display: none;
}

.nav-check:checked ~ .masthead-group .nav-open {
  display: none;
}

.nav-check:checked ~ .masthead-group .nav-close {
  display: block;
}

.nav-check:checked ~ .masthead-group .nav {
  display: block;
}

.shipping-bar {
  background-color: var(--color-primary);
  color: #fff;
}

@media only screen and (min-width: 60em) {

  .logo {
    display: inline-block;
  }

  .nav {
    display: block;
    position: static;
    flex-grow: 1;
    z-index: 100000000;
    position: relative;
  }

  .nav li {
    display: inline-block;
  }

  .nav li a {
    padding: 0;
  }

  .nav-label {
    display: none;
  }

}
