:root {
  --color-primary: #1590A9;
  --color-primary-light: #CDDEDF;
  --color-neutral-grey:#F8F9F9;

  --font-primary: "Nunito", sans-serif;
  --font-secondary: "Fredoka One", cursive;
}

html {
  font-family: var(--font-primary);
}
